<?xml version="1.0"?>
<model>
  <name>neighborhood</name>
  <version>1.0</version>
  <sdf version="1.5">neighborhood.sdf</sdf>
  <author>
    <name>Michael Treiber</name>
    <email>michaeltreiber@email.arizona.edu</email>
  </author> 
  <description>
    A neighborhood downloaded from 3Dwarehouse
  </description>
</model>
