<?xml version="1.0"?>
<model>
  <name>freeway</name>
  <version>1.0</version>
  <sdf version="1.5">freeway.sdf</sdf>
  <author>
    <name>Michael Treiber</name>
    <email>michaeltreiber@email.arizona.edu</email>
  </author> 
  <description>
    A freeway downloaded from 3Dwarehouse
  </description>
</model>
