<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ECE_573_FINAL_PROJECT)/worlds/vehicle_test.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ECE_573_FINAL_PROJECT)/urdf/prius.urdf -urdf -z 1 -model prius" />
</launch>
